<div id="analysis-form" class="input-group">
    <input type="text" class="input-lg form-control" id="twitter-id" placeholder="Twitter ID" autocomplete="off" required>
    <span class="input-group-btn">
        <input type="submit" id="run-analysis" class="btn btn-lg btn-success form-control" value="解析">
    </span>
</div>