#analyzed-id {
    z-index: 3;
    width: 100vw;
    font-size: 5vw;
    position: fixed;
    bottom: var(--analysis-form-height);
    color: var(--twitter-color);
    text-align: center;
    display: none;
}