#app-description {
    font-size: 7vw;
    text-align: center;
    z-index: 3;
    color: var(--body-color3);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: none;
}

.headline {
  position: relative;
  border-top: solid 2px var(--theme-color);
  border-bottom: solid 2px var(--theme-color);
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
}