/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

:root {
    --theme-color: #00e091;
    --body-color1: #1E1F26;
    --body-color2: #EEEEEE;
    --body-color3: #2C2C33;
}

::-webkit-scrollbar {
      display: none !important;
      -webkit-appearance: none !important;
}

body {
    background-color: var(--body-color2) !important;
    min-height: 100vh;
}

p {
    color: white;
}

a {
    text-decoration:none;
    color: var(--theme-color) !important;
    opacity:0.9;
}

a:hover {
    color: var(--theme-color);
    text-decoration:none;
    opacity: 1;
    transition: 0.5s;
}

*::selection {
  background: var(--theme-color);
}

html {
    overflow-y: scroll;
    overscroll-behavior: none;
}

.theme-color {
    color: var(--theme-color);
}

#content {
    margin-top: var(--header-height);
    border: solid white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kosugi Maru', sans-serif;
}