:root {
    --header-height: 10vh;
}

#logo {
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
}

#analyzed-id {
    display: block;
    font-size: 6vh;
    text-align: center;
    color: var(--twitter-color);
    height: var(--header-height);
    width: 100vw;
}

#developer {
    font-size: 2vh;
}

#site-header {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: var(--header-height);
    background-color: var(--body-color3);
    vertical-align: middle;
    position: absolute;
}