:root {
    --header-height: 10vh;
}

#logo {
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#site-header {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: var(--header-height);
    background-color: var(--body-color3);
    position: fixed;
}

@media screen and (max-width : 767px) {
    :root {
        --header-height: 7vh;
    }

    #analyzed-id {
        margin-top: 2vh;
        font-size: 3vh;
    }
}