:root {
    --loading-size: 10vw;
}

#loading {
    z-index: 3;
    position: fixed;
    height: var(--loading-size);
    width: var(--loading-size);
    position: fixed;
    top:calc(50% - var(--loading-size)/2);
    left:calc(50% - var(--loading-size)/2);
    display: none;
}