:root {
  --analysis-form-font-size: 5vw;
  --word-cloud-width: 100vw;
  --word-cloud-height: calc(100vh - var(--header-height) - var(--analysis-form-height));
}

#canvas {
    bottom: var(--analysis-form-height);
    width: var(--word-cloud-width);
    height: var(--word-cloud-height);
    position: fixed;
}