<div id="footer">
    <p>This site is open source. <a href="https://github.com/uehr/floav" target="_blank">Github</a>.</p>
    <p>Copyright(c) 2019, Yudai Uehara (<a href="https://www.uehr.co" target="_blank">@uehr37</a>)<br>All
        Rights Reserved.</p>
</div>